<% properties = local_assigns.fetch(:properties, @properties) %>
<% grid_class = local_assigns.fetch(:grid_class, "property-grid") %>
<% show_pagination = properties.respond_to?(:total_pages) && properties.total_pages > 1 %>

<section class="property-results-stack">
  <% if show_pagination %>
    <div class="property-results-pagination">
      <%= paginate properties %>
    </div>
  <% end %>

  <%= render "properties/property", properties:, grid_class: %>

  <% if show_pagination %>
    <div class="property-results-pagination">
      <%= paginate properties %>
    </div>
  <% end %>
</section>
