<% title "Add new Property" %>

<div class="row">

  <div class="large-9 columns" role="content">

    <h4><%= t('properties.add_property_details') %></h4>

    <%= render 'form' %>

  </div>

  <%= render "properties/property_sidebar" %>

</div>