<%= form_for(@aardvark) do |f| %>
  <% if @aardvark.errors.any? %>
    <div id="error_explanation">
      <h2><%= t("ui.aardvarks.form.error_summary", count: @aardvark.errors.count) %></h2>

      <ul>
      <% @aardvark.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
