<div class="section-container tabs" data-section>
  <section class="section">
    <%= render "shared/for_sale_search" %>
  </section>
  <section class="section">
    <%= render "shared/for_rent_search" %>
  </section>
</div>