<% title t("ui.legacy.new_photos_title", address: @property.address_line_1) %>

<div class="row">

  <div class="large-9 columns">

    <h1 class="legacy-page-heading"><%= t('photos.add_photos_of') %> <%= link_to(@property.address_line_1, @property) %></h1>

    <%= render "shared/under_construction" %>

  </div>

  <%= render "properties/property_sidebar" %>

</div>
