.top-bar-section .dropdown li a.english-flag:after {
  content: "English";
  padding-left: 12px;
}

.top-bar-section .dropdown li a.chinese-flag:after {
  content: "中国的";
  padding-left: 12px;
}

.name {
  padding-left: 12px;
}

