<% title t('coffeescript.title') %>

<div class="row">

  <div class="large-12 columns" role="content">

    <h4><%= t('coffeescript.title') %></h4>

    <p><%= t('coffeescript.blurb') %></p>

  </div>
</div>