<span class="brand-word brand-word--primary"><%= t('gotthekeys.got') %></span>
<span class="brand-word brand-word--neutral"><%= t('gotthekeys.the') %></span>
<span class="brand-word brand-word--primary"><%= t('gotthekeys.keys') %></span>
