<aside class="large-3 columns">

  <div class="panel">
    <h5><%= render "layouts/gotthekeys" %></h5>

    <p><%= render "layouts/gotthekeys" %><%= t(:estate_future) %></p>
    <%= link_to t(:read_more), how_it_works_path %>
  </div>

</aside>