<aside class="large-3 columns">
  <div class="panel">
    <h5><%= render "layouts/gotthekeys", variant: :theme_aware %></h5>
    <p><%= render "layouts/gotthekeys", variant: :theme_aware %><%= t(:estate_future) %></p>
    <%= link_to t(:read_more), how_it_works_path, class: 'button small expanded' %>
  </div>
</aside>
